# Project: Comparative Analysis of the Data Scientist Role in the Top  Five Most Representative Countries within the Kaggle Community

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

In this research, the latest survey conducted up to the current date, known as the 2022 Kaggle DS & ML Survey [Kaggle](https://www.kaggle.com/datasets/kaggle/kaggle-survey-2017), will be analyzed. The aim is to utilize the data collected from the community and draw conclusions about demographics, industry involvement, and preferred technologies in the field of data science. Here are the question I plan on exploring:

> **1:** Carry out a data cleaning and preparation process for the 2022 Kaggle DS & ML Survey database.

> **2:** Identify the top five countries with the highest representation in the Kaggle community, focusing on the field of data science and considering levels of programming and machine learning expertise.

> **3:** Conduct a detailed analysis of the demographics and industries to which data science experts are affiliated, exploring factors such as gender distribution, age, education, geographic location, and areas of industrial specialization.

> **4:** Recognize the most used technologies and preferred techniques by data scientists.

In [ ]:
# exploration 
import pandas as pd
import numpy as np
# visualization
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go

In [ ]:
def group_question(min,max,v_v1):
    '''generates a list containing the names of individual or grouped questions depending on the numerical values of min and max.
    
    Args:
        min: minimum numerical value (x) representing the value of question Qx.
        max: minimum or maximum numerical value (x) representing the value of question Qx.
        v_v1: DataFrame summarizing descriptive information for each individual and grouped question.
        
    Returns:
        generates a list containing the names of individual or grouped questions
        group_question(9,9,v_v1)
        ['Q9'] 
        group_question(9,15,v_v1)
        ['Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6', 'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10',
        'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2', 'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9'] 
    '''
    l=[]
    for i in range(min,max+1):
        con =f'Q{i}'
        val=v_v1.loc[con,('number_answers', 'count')]
        if val == 1:
            l+=[con]
            if min == max:
                break
            else:
                continue
        for j in range(1,val+1):
            l+=[f'{con}_{j}']
    return l

In [ ]:
def value_count_from_multiple_choice(df, v_v1,col):
    ''' dataframe for figures
    
    Works to obtain a DataFrame that indexes the unique value of all columns belonging to a 
    multiple-choice question 'col', containing columns for yes, no, and the percentage of users 
    who approve each unique value.
    
    Args:
        df: DataFrame containing data and columns.
        v_v1: DataFrame summarizing descriptive information for each individual and grouped question.
        col: numerical value (x) representing the value of question Qx.
        
    Returns:    
        a new DataFrame containing columns for yes, no, and the percentage of users 
        who approve each unique value.
    '''
    
    temp_df = df.copy()
    current_column_names=group_question(col,col,v_v1)
    # print(v_v1.T.loc[('question','unique'),f'Q{col}'])
    # print(current_column_names)
    renamed_column_names=v_v.T.loc['select',current_column_names].to_list()

    for c in current_column_names:
        temp_df[c] = temp_df[c].replace(np.nan, 0)
        temp_df[c] = np.where(temp_df[c] == 0, "No", "Yes")
        
    q_df = temp_df[current_column_names].copy()
    q_value_counts = q_df.apply(pd.Series.value_counts)
    q_value_counts.columns = renamed_column_names
    q_value_counts = q_value_counts.transpose()
    q_value_counts["% Users"] = round((q_value_counts["Yes"] / (q_value_counts["No"] + q_value_counts["Yes"])).round(4)*100,2)
    
    return q_value_counts.fillna(0).sort_values("% Users")

In [ ]:
def name_column_graph(tabla,symb):
    '''Creates a list with the indices of the 'tabla'
    
    Args:
        tabla: The result of the 'value_count_from_multiple_choice' function.
        symb: Some indices contain long names and can be separated by a symbol.
        
    Returns: 
        a list contains the indices of the 'tabla' for figures and less characters
    '''
    l=[]
    for i in tabla.index:
        a= i.split(symb)
        if len(a) > 1 :
            l+=[a[0]]
            
        else:
            l+=a
    return l

<a id='wrangling'></a>
## Data Wrangling

### Data exploration
The first step before doing anything with data is to locate the file (for this report a .csv file) in the directory I am working on and then read it through the built-in Pandas functions. In my case, I have `kaggle-survey-2022/kaggle_survey_2022_responses.csv` file stored in the same directory I’m working on.

In [ ]:
df = pd.read_csv('../input/kaggle-survey-2022/kaggle_survey_2022_responses.csv',low_memory=False)
print('Top 5 rows')
df.head(5)

In [ ]:
# Delete row 0, which contains the question name and corresponding answer for each column.
df_current = df.drop(df.index[0])
df_current.head(2)

In [ ]:
# return the rows and columns of the dataframe
print('Rows:',df_current.shape[0], 'Columns:',df_current.shape[1])

In [ ]:
# return the data types of each column
df_current.dtypes

From the above code excerpt, I have explored the data, shapes, and also it types. I have an overview of the kind of data I am dealing with. Now let’s describe the data through `describe()` function.

In [ ]:
# return a basic statiscal description
df_current.describe()

The `describe()` provides information about the data, thus it can be seen that all the columns are of categorical type and yield unique, top, and frequency results. It's useful information but I want to know quantity of responses corresponding to each question, empty values has this dataframe and procentage.

In [ ]:
aux=pd.isna(df_current).sum()
aux.name = 'nan count'

aux2= round(aux*100/df_current.shape[0],2)
aux2.name = 'nan %'

v_v = pd.concat([aux,aux2],axis=1)
df_quest = pd.DataFrame(columns=['question','select'], index=df.columns)

# columnas del Dataframe preguntas y  nombre seleccion
name= df.loc[:0,:].T
lm=name[0].str.split('?')
l_question=[]
l_select=[]

for i,v in lm.items():
    if ': (Select all that apply) - ' in v[0]:
        # len(pregunta) == 1 y contiene ': (Select all that apply) - '
        m = v[0].split(': (Select all that apply) - ')
        question=m[0].strip()
        select=m[-1].strip()
    else:
        # len(pregunta) == 1, solo pregunta 
        question=v[0].strip()   
        select='Selected Choice'
    
    if len(v) > 1:
        # len(pregunta) > 1 
        if ' - Selected Choice - ' in v[1]:
            #  contiene ' - Selected Choice - ' 
            select=v[1].split(' - Selected Choice - ')[-1].strip()
        elif len(v[1]) > 0:
            # string diferente de vacio 
            select=v[1].strip()
            if '- ' in select:
                select = select[2:]
            
    l_question+=[question]
    l_select+=[select]

In [ ]:

aux=pd.isna(df_current).sum()
aux.name = 'nan count'

aux2= round(aux*100/df_current.shape[0],2)
aux2.name = 'nan %'

v_v = pd.concat([aux,aux2],axis=1)
df_quest = pd.DataFrame(columns=['question','select'], index=df.columns)

# columnas del Dataframe preguntas y  nombre seleccion
name= df.loc[:0,:].T
lm=name[0].str.split('?')
l_question=[]
l_select=[]
for i,v in lm.items():
    if ': (Select all that apply) - ' in v[0]:
        # len(pregunta) == 1 y contiene ': (Select all that apply) - '
        m = v[0].split(': (Select all that apply) - ')
        question=m[0].strip()
        select=m[-1].strip()
    else:
        # len(pregunta) == 1, solo pregunta 
        question=v[0].strip()   
        select='Selected Choice'
    
    if len(v) > 1:
        # len(pregunta) > 1 
        if ' - Selected Choice - ' in v[1]:
            #  contiene ' - Selected Choice - ' 
            select=v[1].split(' - Selected Choice - ')[-1].strip()
        elif len(v[1]) > 0:
            # string diferente de vacio 
            select=v[1].strip()
            if '- ' in select:
                select = select[2:]
            
    l_question+=[question]
    l_select+=[select]

df_quest.loc[:,'question'] = l_question
df_quest.loc[:,'select'] = l_select

v_v=v_v.join(df_quest)

v_v.loc["Q37_12",'select'] = 'None'
v_v.loc["Q34_7",'select'] = 'None'
v_v.sort_index(ascending=True).T

# revision de valores mayores a 90% vacios
for i in v_v.index:
    count=i.split('_')
    v_v.loc[ i,'number_answers'] = count[0]

## split comlumna de dataframe str https://www.analyticslane.com/2020/10/19/separar-texto-en-columnas-con-pandas-en-python/#:~:text=Para%20separarlos%20podemos%20usar%20directamente,para%20obtener%20el%20siguiente%20resultado.&text=En%20el%20que%20se%20ha%20obtenido%20una%20serie%20de%20listas%20de%20valores.

v_v1=v_v.groupby(['number_answers']).agg(
    {'question':'unique','number_answers':'count','nan %':'mean', 
     'nan count':['min','max'],'select':'unique'})
v_v1.sort_values(('nan %', 'mean'),ascending=False).T

Summary table for 44 question:

1. question unique: Representation of questions in a single column. Note: there are single or multiple-choice answers.
2. number_answers count: shows the quantity of responses corresponding to each question.
3. nan % mean: indicates the average of blanks among the response columns (number_answers) corresponding to the question.
4. nan count:
min: indicates the minimum blank value in one of the response columns in the original dataframe.
max: indicates the maximum blank value in one of the response columns in the original dataframe.
5. select: unique: displays the response values corresponding to each answer in the original dataframe.

High missing values.

9 columns contain empty values ​​in a percentage less than 50%. I prefer to first select the data I am interested in.

###  Data cleaning

#### Selecting preferred data

Based on my research goals, I am not interested in all the columns in the dataset. In the below code except, I will only select the data I am interested in.

> Rename countries

> Remove Q4 'I do not wish to disclose my location'

> To do that, Dropping not desired columns.

> Removing unlikely or inconsistent responses

In [ ]:
# rename countries
countries ={'United Kingdom of Great Britain and Northern Ireland': 'UK','United States of America':'USA',
            'Iran, Islamic Republic of...':'Iran','Hong Kong (S.A.R.)':'Hong Kong'}
df_current.replace(countries, inplace=True)

## Remove Q4 'I do not wish to disclose my location'
i = df_current[df_current['Q4'].isin(['I do not wish to disclose my location'])].index
print(len(i))
df_current.drop(i, axis=0, inplace=True)

In [ ]:
print('Roles in question')
print(df_current.value_counts('Q23'))

In [ ]:
# select rows in Q23 equal to rol Data Scientist 

df_q = df_current[df_current['Q23'].isin(['Data Scientist']) ]
print( 'Number Data Scientist select:',df_q.shape[0])

In [ ]:
# Dropping not desired columns
'''
# Duration (in seconds)
# 5 Are you currently a student? Q9 academic research  Q10 use of machine learning for Q8 yes, Duration (in seconds)
# 9 published any academic research 
# 10 research make use of machine learning 
# 32 -1 cloud platforms that you are familiar 
# 33 - 5  cloud computing products 
# 38 -8 automated machine learning tools
# 40 - 15 monitor your machine learning models and/or experiments 
# 41 - 9 responsible or ethical AI products in your machine learning practices 
# 43 - 1 how many times have you used a TPU 
'''

l=["Duration (in seconds)","Q5","Q9"]
l +=group_question(10,10,v_v1)+group_question(32,32,v_v1)+group_question(33,33,v_v1)+group_question(38,38,v_v1) +group_question(40,41,v_v1)+group_question(43,43,v_v1)
print('Dropping not desired columns',l)
df_q.drop(l,axis=1,inplace=True)

# check the result
df_q.head(2)

In the process of data cleaning and quality assurance, only the role of data scientists was taken into account, leading to the exclusion of question **Q8 in case the respondent is a student**. Additionally, it's important to note that rows containing responses such as **'I do not wish to disclose my location' in question Q4**, which corresponds to country of residence, were removed. **Other row eliminations were performed according to:**
1. Responses corresponding to the age range (Q2) of 18-24 years and education options (Q8) 'Doctoral degree' or 'Professional doctorate' were discarded, as they indicated that respondents were currently pursuing or planning to enter this educational level within the next 2 years.
2. Rows were eliminated where age (Q2) fell within the 18-24 year range and programming experience in years (Q11) was over 20 years, as this scenario seemed unlikely and could have been an error in responses.
3. Rows were excluded where age (Q2) was in the 18-24 year range and experience in years using Machine Learning methods (Q16) fell within the 10-20 year range, as this appeared uncommon and required additional verification.
4. Empty values in the work industry (Q24) were discarded, as lack of information in this question would hinder proper analysis within the research context.

These cleaning criteria ensure data quality by removing unlikely or inconsistent responses, as well as empty values that could affect subsequent analysis.

##### 1. Responses corresponding to the age range (Q2) of 18-24 years and education options (Q8) 'Doctoral degree' or 'Professional doctorate'

In [ ]:
# remove rows in which the respondents declared their age to be 24 years or less 
# (categories 18-21 and 22-24 in question Q2) and at the same time declare that they 
# have a doctoral degree or a professional degree (in question Q8).

con1= df_current.loc[:,'Q2'] == '18-21' 
con2= df_current.loc[:,'Q2'] == '22-24'
con3=df_current.loc[:,'Q8'] == 'Doctoral degree' 
con4 =df_current.loc[:,'Q8'] == 'Professional doctorate'

df_c1=df_q[(con1 | con2) & (con3 | con4)]
df_c1.groupby(["Q2","Q8","Q23","Q4"]).count()

##### 2. Rows were eliminated where age (Q2) fell within the 18-24 year range and programming experience in years (Q11) was over 20 years, as this scenario seemed unlikely and could have been an error in responses.

In [ ]:
# We remove surveys in which the person filling out question Q2 indicates that has not 
# more than 29 years old (the three lowest categories) and at the same time declares 
# in question Q11 about the number of years of programming experience as over 20. 

con5=df_current.loc[:,'Q11'] == '20+ years' 
# NO existe
df_c2=df_current[(con1 | con2) & con5 ]
df_c2

##### 3. Rows were excluded where age (Q2) was in the 18-24 year range and experience in years using Machine Learning methods (Q16) fell within the 10-20 year range.

In [ ]:
# we exclude people who are also between 18 and 29 years old and declare that they 
# have been using machine learning methods for at least 20 years

con6= df_q.loc[:,'Q2'] == '25-29'
# Q16: Exp. ML methods
con7=df_q.loc[:,'Q16'] == '10-20 years' 

df_c3=df_q[ (con1 | con2 | con6) & con7 ]
df_c3.groupby(["Q2","Q8","Q23","Q4"]).count()

##### 4. Empty values in the work industry (Q24) were discarded.

In [ ]:
con8= df_q.loc[:,"Q24"].isna()
df_c4=df_q[  con8 ]
df_c4.groupby(["Q23","Q4"]).count()

##### Removing unlikely or inconsistent responses rows

In [ ]:
df_filtros = df_q[~(((con1 | con2) & (con3 | con4)) | ((con1 | con2 | con6) & con7) | con8 )].copy().reset_index(drop=True)
print(df_filtros.shape)

df_filtros.head(2)

#### Missing values

In [ ]:

q2_i = ['18-21', '22-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-69','70+']

df_filtros.loc[:,"Q3"].replace({'Prefer not to say':'Others', 'Nonbinary':'Others','Prefer to self-describe':'Others'}, inplace=True)

q8_i = ['High School','No bachelor’s degree', 'Bachelor’s degree', 'Master’s degree', 
       'Doctoral degree', 'Professional doctorate','I prefer not to answer']
df_filtros.loc[:,"Q8"].replace({'No formal education past high school':'High School', 'Some college/university study without earning a bachelor’s degree': 'No bachelor’s degree'}, inplace=True)

q11_i=["0 years","Under 1 year",'1-3 years','3-5 years','5-10 years','10-20 years','20+ years']
df_filtros.loc[:,"Q11"].replace({"I have never written code":"0 years" , '< 1 years':"Under 1 year"}, inplace=True)

q16_i=["0 years", 'Under 1 year','1-2 years', '2-3 years', '3-4 years', '4-5 years','5-10 years',  '10-20 years']
df_filtros.loc[:,"Q16"].replace({"I do not use machine learning methods":"0 years", np.nan:"0 years"}, inplace=True)

q25_i=['0-49 employees','50-249 employees','250-999 employees', '1000-9,999 employees', '10,000 or more employees','No answer']
df_filtros['Q25'].fillna('No answer', inplace=True)

q26_i= ['0', '1-2', '3-4', '5-9', '10-14', '15-19','20+']
df_filtros['Q26'].fillna('No answer', inplace=True)

q27_i = ["1. Not Started" ,  "2. Exploration Stage","3. Generating Insights", "4. Started Models in Production",
        "5. Established Models in Production", "6. Not Known"]
Q27_replace = {
    "No (we do not use ML methods)": "1. Not Started" , 
    "We are exploring ML methods (and may one day put a model into production)": "2. Exploration Stage",
    "We use ML methods for generating insights (but do not put working models into production)": "3. Generating Insights", 
    "We recently started using ML methods (i.e., models in production for less than 2 years)": "4. Started Models in Production",
    "We have well established ML methods (i.e., models in production for more than 2 years)": "5. Established Models in Production",
    "I do not know": "1. Not Started",
    np.nan: "1. Not Started"
}
df_filtros['Q27'].replace(Q27_replace, inplace=True)

q29_i=['0-2,999', '3,000-9,999', '10,000-24,999', '25,000-49,999',         
        '50,000-79,999', '80,000-124,999', '125,000-249,999', '250,000-999,999','>$1,000,000']   
df_filtros.loc[:,"Q29"].replace({ '$0-999':'0-2,999',                    '1,000-1,999':'0-2,999',                 '2,000-2,999':'0-2,999',         
                                '3,000-3,999':'3,000-9,999',             '4,000-4,999':'3,000-9,999',             '5,000-7,499':'3,000-9,999',     '7,500-9,999': '3,000-9,999',            
                                '10,000-14,999':'10,000-24,999',         '15,000-19,999':'10,000-24,999',         '20,000-24,999':'10,000-24,999',          
                                '25,000-29,999': '25,000-49,999',        '30,000-39,999':'25,000-49,999',         '40,000-49,999': '25,000-49,999',        
                                '50,000-59,999': '50,000-79,999',        '60,000-69,999':'50,000-79,999',         '70,000-79,999': '50,000-79,999',       
                                '80,000-89,999': '80,000-124,999',       '90,000-99,999': '80,000-124,999',       '100,000-124,999': '80,000-124,999',     
                                '125,000-149,999': '125,000-249,999',    '150,000-199,999': '125,000-249,999',    '200,000-249,999': '125,000-249,999',
                                '250,000-299,999': '250,000-999,999',    '300,000-499,999': '250,000-999,999',    '$500,000-999,999': '250,000-999,999'}, inplace=True)

q30_i= ['0','$0', '$1-$99', '$100-$999','$1000-$9,999', '$10,000-$99,999', '>$100,000']
df_filtros.loc[:,"Q30"].replace({'$0 ($USD)':'$0','$100,000 or more ($USD)':'>$100,000'}, inplace=True)
df_filtros['Q30'].fillna('0', inplace=True)

df_filtros.loc[:,"Q37_12"].replace({df_filtros.loc[:,"Q37_12"].unique()[0]:'None'}, inplace=True)

df_filtros.loc[:,"Q34_7"].replace({df_filtros.loc[:,"Q34_7"].unique()[1]:'None'}, inplace=True)

#### Selecting demographics of data science experts, considering programming and machine learning experience. [4](https://www.kaggle.com/code/shivamb/data-science-in-2021-adaptation-or-adoption/notebook)

The classification of users was done based on the answers to questions Q16 and Q11, which are based on time of programming experience and machine learning experience, respectively. The categories into which users were classified according to their experience are presented below:

1. Newcomers: This group comprises those users who have ***no programming experience** or less than one year of experience in both programming and machine learning*.
2. The Programmers: In this category are users with ***programming experience** from 1 to more than 20 years*, but who have **no machine learning experience**.
3. The Apprentices: Users classified in this category have *at least one year and up to three years of **programming experience***, as well as *one year to three years of **machine learning experience***.
4. Transients: This group includes users who are somewhere in between. On the one hand, they have *3 to 5 years of **machine learning experience*** and *1 to 3 years of **programming experience***. On the other hand, there are users with *three or more years of **programming experience*** and *1 to 3 years of **machine learning experience***.
5. The Experts: In this category are users with extensive ***machine learning experience**, from 3 years to more than 20 years*, and ***extensive programming experience**, from 5 years to more than 20 years*.

These categories allow users to be identified and classified according to their level of programming and machine learning experience, which will facilitate a more detailed and segmented analysis of the data obtained in the survey.

In [ ]:
df_filtros1 = df_filtros.copy()

# Exp. ML 
Q16_di = {"0 years": "None", "Under 1 year": "Beginner", "1-2 years": "Learner", "2-3 years": "Learner", "3-4 years": "Experienced",
          "4-5 years": "Experienced", "5-10 years": "Veteran", "10-20 years": "Veteran", "20+": "Veteran"}
df_filtros1["Q16_new"] = df_filtros["Q16"].map(Q16_di).copy()

# Exp. progra
Q11_di = {"0 years": "None", "Under 1 year": "Beginner", "1-3 years": "Learner", "3-5 years": "Experienced",
          "5-10 years": "Experienced", "10-20 years": "Veteran", "20+ years": "Veteran"}
df_filtros1["Q11_new"] = df_filtros["Q11"].map(Q11_di)

# Cross table of those results
exp_ct = pd.crosstab(df_filtros1.Q11_new, df_filtros1.Q16_new, rownames=['Coding Experience'], colnames=['ML Experience'])
ct_order = ["None", "Beginner", "Learner", "Experienced", "Veteran"]
exp_ct = exp_ct.reindex(ct_order, axis="columns")
exp_ct = exp_ct.reindex(ct_order, axis="rows")

exp_ct

In [ ]:
conditions = [
    (df_filtros1['Q16_new'] == "None") & ((df_filtros1['Q11_new'] == "None") | (df_filtros1['Q11_new'] == "Beginner")),
    (df_filtros1['Q16_new'] == "None") & ((df_filtros1['Q11_new'] == "Learner") | (df_filtros1['Q11_new'] == "Experienced") | (df_filtros1['Q11_new'] == "Veteran")),
    ((df_filtros1['Q16_new'] == "Beginner") | (df_filtros1['Q16_new'] == "Learner")) & ((df_filtros1['Q11_new'] == "Beginner") | (df_filtros1['Q11_new'] == "Learner")),
    ((df_filtros1['Q16_new'] == "Beginner") | (df_filtros1['Q16_new'] == "Learner")) & ((df_filtros1['Q11_new'] == "Experienced") | (df_filtros1['Q11_new'] == "Veteran")),
    (df_filtros1['Q16_new'] == "Experienced") & (df_filtros1['Q11_new'] == "Learner"),
    ((df_filtros1['Q16_new'] == "Experienced") | (df_filtros1['Q16_new'] == "Veteran")) & ((df_filtros1['Q11_new'] == "Experienced") | (df_filtros1['Q11_new'] == "Veteran")),
    ]

classification_values = ['1.New Faces','2.Coders','3.Learners','4.Transitioners','4.Transitioners','5.Experts']
df_filtros1['classification'] = np.select(conditions, classification_values)
# 5 people are not classified as their experience with ML and coding does not match well
df_filtros1 = df_filtros1[df_filtros1.classification != "0"]
print(df_filtros1['classification'].value_counts().sort_index(ascending=True))

##### The top five countries with the highest representation in the Kaggle community, focusing on the data science role

In the first part of this report, the classification of experts, which includes those with extensive experience in programming and using machine learning, and who work in the data science industry, will be used. These data will be used to determine two groups, the first the five countries most represented in Kaggle.

According to their classification of expert experience, a descriptive analysis will be performed in three different categories, as follows:

* Demographic aspects: country, gender, age, area of study.
* Industry of participation: industry, company size, incorporation of machine learning methods, annual remuneration, on-the-job activities.
* Technologies used: programming languages, IDE integrated development environments, data visualization packages, cloud computing platforms, databases, business intelligence tools, machine learning frameworks, machine learning algorithms, favorite media sources on data science topics.

In [ ]:
# df_DS contiene  solo a los experotos en DS con todos los paises
conx1=df_filtros1.loc[:,"classification"] == '5.Experts'

df_DS=df_filtros1.loc[(conx1 ),: ].reset_index(drop=True)
print(df_DS.shape)
df_DS.head(2)
df_DS.groupby(['Q23','classification','Q4' ]).count().sort_values('Q2',ascending=False).head(10)

In [ ]:
q4_5top =  ['USA', 'India', 'Other', 'Brazil', 'Japan']
df_prue=df_DS[df_DS["Q4"].isin(q4_5top)]
print(df_prue["classification"].value_counts())
print(df_prue.value_counts("Q4"))

<a id='eda'></a>
## Exploratory Data Analysis

### > Identify the top five countries with the highest representation in the Kaggle community, focusing on the field of data science and considering levels of programming and machine learning expertise.

In [ ]:
class_all=df_filtros1.value_counts("classification").sort_index(ascending=False)
class_exp=df_prue.value_counts("classification")

fig = go.Figure()
fig.add_trace(go.Bar(x=class_all.index,   y=class_all.values,   marker_color='rgb(199,233,192)',name= 'All classification<br>and countries',text=class_all.values))
fig.add_trace(go.Bar(x=class_exp.index,   y=class_exp.values,   marker_color='rgb(0,68,27)',name= 'Expert classification<br>top 5 countries',text=class_exp.values))

fig.update_layout(barmode='overlay',title_text='All classification and countries.',yaxis_title="Number of responders")
fig.show()

In addition to categorizing experts based on their data science role, a geographical classification was also conducted focusing on the top 5 countries with the highest representation in the Kaggle community. These countries are **the United States, India, Others, Brazil, and Japan**, with a total of 548 surveyed users, **representing approximately 28.87% of the total users**, as shown in Figure.

In [ ]:
# df_DS
# df_prue

country_all=df_DS.groupby(["Q4",'classification'],as_index=False).size().sort_values('size',ascending=False,ignore_index=True)[:22]
country_study=df_prue.groupby(["Q4",'classification'],as_index=False).size().sort_values('size',ascending=False,ignore_index=True)[:22]
# country_comp=df_prue2.groupby(["Q4",'classification'],as_index=False).size().sort_values('classification',ascending=False,ignore_index=True)[:22]
fig = go.Figure()
fig.add_trace(go.Bar(x=country_all['Q4'],   y=country_all["size"],   marker_color='rgb(199,233,192)',name= 'All countries',
                    text =country_all['size'],textposition = "inside"))
fig.add_trace(go.Bar(x=country_study['Q4'],   y=country_study["size"],   marker_color='rgb(0,68,27)',name= 'Study countries',
                    text =country_study['size'],textposition = "inside"))

print(round((class_exp.sum()/class_all.sum())*100,2))
# anotations
fig.update_layout(barmode='overlay',yaxis_title="Number of responders",title_text='Expert classification, the darker green means the top 5 countries.')
fig.show()

This geographical classification provides an additional perspective on the distribution of expert data scientists in the Kaggle community, highlighting the relevance and participation of these countries on the platform. **Note**: "Other" is a special category that groups surveys from countries with fewer than 50 respondents, which may indicate that these are countries where the use of data science is in its early stages. This grouping helps identify those countries with lower representation in the Kaggle community, possibly due to lower development or adoption of data science compared to the more prominent countries on the platform.

### > Analysis of the demographics and industries to which data science experts are affiliated, exploring factors such as gender distribution, age, education, geographic location, and areas of industrial specialization.

#### **Gender**

The graph shows that men represent 86.32% of the total, while women and others make up 13.67%, the latter category being the minority. **Note:** The "Others" group includes non-binary people, those who described themselves uniquely and those who did not feel comfortable describing their gender.

In [ ]:

age_exp=df_prue.groupby(['Q4',"Q3"],as_index=False).size()

age_exp['avg_num'] = round((age_exp['size'] / age_exp['size'].sum())*100,2)
age_exp['avg']=age_exp['avg_num'].apply(lambda a: str(a)+ '%')

fig = px.bar(age_exp, x="size", y='Q3', color='Q3', facet_col="Q4",  text_auto=True,orientation='h', text='avg',#'texttemplate': '%{x}'
                   category_orders={"Q4": q4_5top,"Q3":['Man','Woman','Others']},
                   color_discrete_sequence=['rgb(0,68,27)','rgb(116,196,118)','rgb(35,139,69)'])
fig.for_each_annotation(lambda a: a.update(text=a.text.replace("Q4=", "")))
fig.update_layout(yaxis_title="Gender")
fig.update_xaxes(title_text="Number<br>of<br>responders")
fig.layout.legend.title.text = ''
fig.show()

age_exp.groupby(['Q3']).sum()

#### **Age** 

In the 30-34 age range, the highest participation is observed, comprising 23.9% of the respondents. **Approximately 75% of the participants are in the 25-44 age range, which shows a wide representation in this age group**. However, it is relevant to mention that the remaining 25% are distributed from 45 years of age to over 70 years of age. This diversity in age ranges highlights the presence of professionals from different generations in the data science community, enriching the variety of perspectives and experiences within the field.

In [ ]:
gen_exp = df_prue.groupby(["Q2"],as_index=False).size()
gen_exp['avg_num'] = round((gen_exp['size'] / gen_exp['size'].sum())*100,1)
gen_exp['avg']=gen_exp['avg_num'].apply(lambda a: str(a)+ '%')
color=['<75%']*1 +  ['>75%']*4  +['<75%']*5
fig = px.bar(gen_exp, x="size", y='Q2', color=color,  text_auto=True,orientation='h', text='avg',
                   category_orders={"Q2":q2_i},
                   color_discrete_sequence=['rgb(0,68,27)','rgb(116,196,118)','rgb(35,139,69)'])
fig.layout.legend.title.text = ''
fig.update_layout(yaxis_title="Age")
fig.update_xaxes(title_text="Number of responders")
fig.show()

In [ ]:
age_gen_exp=df_prue.groupby(["Q2",'Q4','Q3'],as_index=False).size()

age_gen_exp['avg_num'] = round((age_gen_exp['size'] / age_gen_exp['size'].sum())*100,2)
age_gen_exp['avg']=age_gen_exp['avg_num'].apply(lambda a: str(a)+ '%')

fig = px.bar(age_gen_exp, x="size", y='Q2', color='Q3', facet_col="Q4",  text_auto=True,orientation='h', text='avg',
                   category_orders={"Q4": q4_5top,"Q3":['Man','Woman','Others'],"Q2":q2_i},
                   color_discrete_sequence=['rgb(0,68,27)','rgb(116,196,118)','rgb(35,139,69)'])
fig.for_each_annotation(lambda a: a.update(text=a.text.replace("Q4=", "")))
fig.update_layout(yaxis_title="Age")
fig.update_xaxes(title_text="Number<br>of<br>responders")
fig.layout.legend.title.text = ''
fig.show()

In [ ]:
age_gen_exp[age_gen_exp['Q3'].isin(['Woman'])].groupby(['Q4','Q3']).sum().sort_values('avg_num',ascending=False)

In [ ]:
age_gen_exp[age_gen_exp['Q3'].isin(['Others'])].groupby(['Q4','Q3']).sum().sort_values('avg_num',ascending=False)

The following graph shows the age and gender distribution for each country. As expected, the participation of men is evident in all the countries that are part of the top 5. On the other hand, **the highest representation of women is found in the USA, with 6.93% of the total population of surveyed users, followed by India with 2.91%, other countries with 1.45%, Japan with 0.54% and Brazil with 0.36%**.
As for the inclusion of other genders, it is only observed in the USA and India, representing 1.09% and 0.36% respectively. These results reflect the differences in gender distribution in the data science community in each country and highlight the importance of promoting gender diversity in this professional area.

#### **Study**

The most representative level of study is the Master's degree, with 54.4% of respondents already holding or expecting to obtain this degree in the next 2 years. **Doctoral and professional degrees follow in order of frequency**. This indicates that the vast majority of respondents have at least one higher education study, reaching 92.3% of the total number of participants. These results highlight the high educational level of the data science community in Kaggle.

In [ ]:
study_=df_prue.groupby(["Q8"],as_index=False).size().sort_values('size',ascending=False)

d_ ={'Q8':'Other studies','size':study_[3:]['size'].sum()}
study_=pd.concat([study_[:3],pd.DataFrame(d_,index=[0])],axis=0)
fig = go.Figure(data=[go.Pie(labels=study_["Q8"], values=study_["size"],marker=dict(colors=['rgb(0,68,27)',  'rgb(0,109,44)','rgb(35,139,69)', 'rgb(65,171,93)']))])
fig.show()

In [ ]:

fig = ff.create_table(study_,colorscale=[[0,'rgb(0,68,27)'],[.5, 'rgb(247,252,245)'],[1, 'rgb(247,252,245)']])
## falta organizar colores y minimizar categorias para no tener tantas
fig.show()

#### **Industry**

The industry with the most data science representatives is Computers/Technology, with 176 respondents, corresponding to 32.12% of the population. It is followed by the Accounts/Finance industry with 55 representatives, equivalent to 10.04% of the total. The higher participation of data scientists in certain industries can be attributed to several factors:

##### Computers/Technology:
    
> **Abundant Data:** The technology industry generates a large amount of data, providing fertile ground for the application of data science techniques.

> **Constant innovation:** Technology companies are constantly innovating and looking for ways to improve products and services. Data science is essential to analyze and take advantage of these opportunities.
    
> **Intense competition:** Competition in the technology industry is high, which motivates companies to use data analytics to make strategic decisions.

##### Accounts/Finance:

> **Risk Management:** In the financial sector, risk management is crucial. Data science is used to assess and predict financial risks, which is critical to the stability of financial institutions.

> **Fraud Detection:** Fraud detection is essential in the financial industry, and data science techniques help identify suspicious patterns and anomalies.

> **Investment Optimization:** Financial firms use data science models to make more informed investment decisions.

In [ ]:

i='Q24'
title='Industry'
c1=df_prue.groupby([i],as_index=False).size().sort_values('size',ascending=False)
num=2
color=['']*num + [' ']*(c1.shape[0]-num)
c1['avg_num'] = round((c1['size'] / c1['size'].sum())*100,2)
c1['avg']=c1['avg_num'].apply(lambda a: str(a)+ '%')
fig = px.bar(c1, x=i,y='size' , text='avg', text_auto=True,color=color,
                color_discrete_sequence=['rgb(0,68,27)','rgb(199,233,192)'])
fig.update_traces(textposition='inside')
fig.update_layout(title=title,yaxis_title="Number of responders")
fig.layout.legend.title.text = ''
fig.layout.xaxis.title.text=''
fig.show()

In [ ]:
color=['rgb(0,109,44)','rgb(161,217,155)','rgb(35,139,6)', 'rgb(116,196,118)', 'rgb(65,171,93)' ]
i='Q24'
title='Industry split by top 5 countries.'
c1=df_prue.groupby(['Q4',i],as_index=False).size()
c1['avg_num'] = round((c1['size'] / c1['size'].sum())*100,2)
c1['avg']=c1['avg_num'].apply(lambda a: str(a)+ '%')
fig = px.bar(c1, x=i,y='size' , facet_col="Q4", color="Q4", text='avg',
                category_orders={"Q4":q4_5top},color_discrete_sequence=color,facet_col_wrap=1,
                height=800)
fig.for_each_annotation(lambda a: a.update(text=a.text.replace("Q4=", "")))
fig.update_traces(textangle=0)
fig.update_layout(title=title)

fig.layout.legend.title.text = ''
fig.layout.xaxis.title.text = 'Industries'
fig.layout.yaxis1.title.text = 'Number of<br>responders'
fig.layout.yaxis2.title.text = 'Number of<br>responders'
fig.layout.yaxis3.title.text = 'Number of<br>responders'
fig.layout.yaxis4.title.text = 'Number of<br>responders'
fig.layout.yaxis5.title.text = 'Number of<br>responders'
fig.show()

#### **size of the company **

The distribution of highly experienced data scientists in programming and machine learning working in companies with more than 10,000 employees compared to those working in smaller companies may be due to Financial resources and capacity, Abundant data, Technology infrastructure, Larger scope projects require the expertise of highly skilled data scientists, Diversity of Sectors.

On the other hand, smaller companies may offer a more agile environment and the opportunity to work on a variety of tasks due to smaller teams. Some data scientists prefer this more dynamic environment and the ability to have a direct impact on company strategy.

In [ ]:
color=[' ']+ ['']+[' ']*3
i='Q25'
title='Higher size of the company split by top 5 countries.'
i_i=q25_i
c1=df_prue.groupby([i],as_index=False).size()
c1['avg_num'] = round((c1['size'] / c1['size'].sum())*100,2)
c1['avg']=c1['avg_num'].apply(lambda a: str(a)+ '%')
fig = px.bar(c1, x=i,y='size' ,  text_auto=True,  color=color,text='avg',
                category_orders={i:i_i},color_discrete_sequence=['rgb(161,217,155)','rgb(35,139,69)' ])

fig.update_layout(title='Size of the company',yaxis_title='Number of responders')
fig.layout.legend.title.text = ''
fig.layout.xaxis.title.text=''
fig.show()

In [ ]:
color=[' ']*2 + ['']*1 + [' ']*3 +['']*1 + [' ']*4 +['']*1 + [' ']*3 +['']*1 + [' ']*5 +['']*1+ [' ']*3
i='Q25'
title='Higher size of the company split by top 5 countries.'
i_i=q25_i
c1=df_prue.groupby(['Q4',i],as_index=False).size()
fig = px.histogram(c1, x=i,y='size' ,  text_auto=True, facet_col="Q4", color=color,
                category_orders={"Q4":q4_5top,i:i_i},color_discrete_sequence=['rgb(161,217,155)','rgb(35,139,69)' ])
fig.for_each_annotation(lambda a: a.update(text=a.text.replace("Q4=", "")))
fig.update_layout(title=title,yaxis_title="Number of responders")

fig.layout.legend.title.text = ''
fig.layout.xaxis.title.text = ''
fig.layout.xaxis1.title.text = ''
fig.layout.xaxis2.title.text = ''
fig.layout.xaxis3.title.text = ''
fig.layout.xaxis4.title.text = ''
fig.layout.xaxis5.title.text = ''

fig.show()

#### **incorporate machine learning methods**

92.71% of Kaggle users who are data scientists classified as experts, indicated from the companies in which they work to have some kind of contact with machine learning methods. In addition, it was noted that 49.09% of these companies and industries already have an established model in production. These data reflect a high adoption and application of machine learning techniques in the business environment by highly experienced professionals in the field, which evidences the importance and relevance that the application of these methods is acquiring in various sectors.

In [ ]:
color=[' ']*4 + ['']*1 
i='Q27'
title='Higher status of machine learning methods into their business<br>by top 5 countries.'
c1=df_prue.groupby([i],as_index=False).size()
c1['avg_num'] = round((c1['size'] / c1['size'].sum())*100,2)
c1['avg']=c1['avg_num'].apply(lambda a: str(a)+ '%')

fig = px.bar(c1, x=i,y='size' ,  text_auto=True, color=color, text='avg',
                category_orders={i:q27_i},color_discrete_sequence=['rgb(161,217,155)','rgb(35,139,69)' ])

fig.update_layout(title=title,yaxis_title="Number of responders")
fig.layout.legend.title.text = ''
fig.layout.xaxis.title.text=''
fig.show()
c1

In [ ]:
# color=[' ']*2 + ['']*1 + [' ']*3 +['']*1 + [' ']*4 +['']*1 + [' ']*3 +['']*1 + [' ']*5 +['']*1+ [' ']*3
i='Q27'
title='Higher status of machine learning methods into their business split by countries'
i_i=q27_i
c1=df_prue.groupby(['Q4',i],as_index=False).size()
fig = px.histogram(c1, x=i,y='size' ,  text_auto=True, facet_col="Q4", 
                category_orders={"Q4":q4_5top,i:i_i},color_discrete_sequence=['rgb(161,217,155)','rgb(35,139,69)' ])
fig.for_each_annotation(lambda a: a.update(text=a.text.replace("Q4=", "")))
fig.update_layout(title=title,yaxis_title="Number of responders")

fig.layout.legend.title.text = ''
fig.layout.xaxis.title.text = ''
fig.layout.xaxis1.title.text = ''
fig.layout.xaxis2.title.text = ''
fig.layout.xaxis3.title.text = ''
fig.layout.xaxis4.title.text = ''
fig.layout.xaxis5.title.text = ''

fig.show()

#### **current yearly compensation (approximate $USD)**

Two significant peaks in the annual salaries of expert data scientists can be seen in the diagram. The first is in the $125,000 to $249,999 USD range, representing 30.11% of respondents, while the second peak is in the $25,000 to $49,999 USD range, comprising 25.55% of professionals surveyed. This data demonstrates that most data science experts receive competitive salaries, with a particular focus on the $125,000 to $249,999 USD or $25,000 to $49,999 USD ranges.

One issue that raises questions is the presence of salary ranges from $0 to $2,999 for experts in the role of data scientist. This may be discriminatory depending on the country. For example, in the United States, the salary range varies from $10,000 to $24,999 to an impressive range of $250,000 to $999,999. The highest peak is in the range of $125,000 to $249,999, with 151 users in the role of data scientist.

On the other hand, India and other countries that are part of Kaggle's top 5 have annual payout values in the $0 to $2,999 and $10,000 to $24,999 ranges, even though these users are classified as experts. In addition, it can be noted that, in some countries, even for experts with many years of experience the pay value stagnates in certain ranges, around $25,000 to $49,999.

**These variations in salaries may be related to the economic situation and hiring policies of each country, which could generate differences in the remuneration of expert data scientists. for examplo Average salary ranges USA: $ 59.860 , India: $ 7.000 , Brasil: $ 15.000 , Japón: $ 45.000 **

In [ ]:
color=[' ']*2 + ['']*2 + [' ']*5
i='Q29'
title="Yearly compensation (approximate $USD)"

c1=df_prue.groupby([i],as_index=False).size()
c1['avg_num'] = round((c1['size'] / c1['size'].sum())*100,2)
c1['avg']=c1['avg_num'].apply(lambda a: str(a)+ '%')

# brazil, india,japan, other usa

fig = px.bar(c1, x=i,y='size' ,  text_auto=True,  text='avg', color=color,
                category_orders={i:q29_i},color_discrete_sequence=['rgb(161,217,155)','rgb(35,139,69)'])
fig.update_xaxes(title_text=title)
fig.update_layout(yaxis_title="Number of responders")
fig.layout.legend.title.text = ''
fig.show()

In [ ]:
color=['rgb(0,109,44)','rgb(161,217,155)','rgb(35,139,6)', 'rgb(116,196,118)', 'rgb(65,171,93)' ]
i='Q29'
title="Yearly compensation (approximate $USD)"
c1=df_prue.groupby(['Q4',i],as_index=False).size()

fig=px.bar(c1,x=i,   y='size', color='Q4',height=800,
           category_orders={"Q4": q4_5top,"Q29":q29_i},
           color_discrete_sequence=color,facet_col_wrap=1, facet_col="Q4",
           text='size')
fig.update_traces(  textangle=0)
fig.for_each_annotation(lambda a: a.update(text=a.text.replace("Q4=", "")))

fig.layout.legend.title.text = ''
fig.layout.xaxis.title.text = title
fig.layout.yaxis1.title.text = 'Number of<br>responders'
fig.layout.yaxis2.title.text = 'Number of<br>responders'
fig.layout.yaxis3.title.text = 'Number of<br>responders'
fig.layout.yaxis4.title.text = 'Number of<br>responders'
fig.layout.yaxis5.title.text = 'Number of<br>responders'
fig.show()

#### **Activities at work**

On the most important activities for an expert data scientist, data analysis and understanding stands out as the main activity, according to 79.93% of the surveyed users, being the most frequent task. **The following activities are related to the use of machine learning:** prototyping for application in new areas, experimentation and iteration of ML models to improve existing models, and building or running a machine learning service to operationally improve products or workflows. These last activities are performed by more than 50% of the surveyed users.

In [ ]:
# graficas barras de preguntas con respuestas multiples mostrando porcentajes de solo expertos coun =  ['USA', 'India', 'Other', 'Brazil', 'Japan', 'Spain']m=['Brazil', 'Mexico', 'Colombia']
i=28

tabla = value_count_from_multiple_choice(df_prue, v_v1,i)
name ='Important activities of DS rol at work'
tabla.index =['None of these activities',
              'Other',
              'Research of machine learning', 
              'Build and/or run the data infrastructure',
              'Build and/or run a machine learning service',
              'Experimentation and iteration ML models',
              'Build prototypes applying machine learning',
              'Analyze and understand data']
fig = go.Figure()
color = ['rgb(199,233,192)']*4 + ['rgb(0,68,27)']*3 + ['rgb(199,233,192)']*1
fig.add_trace(go.Bar(x=tabla["% Users"],   y=tabla.index,   marker_color=color,name= '',
                    text =tabla["Yes"].values,texttemplate = "%{x}%<br>%{text}", orientation='h'))
fig.update_xaxes(title_text="% ")
fig.update_layout(barmode='overlay',title_text=name)
fig.show()

### > The most used technologies and preferred techniques by data scientists.

#### **Coding Language**

Compared to SQL and R, **Python** offers the following advantages for data scientists:

* Ease of use: Python has a simpler syntax than SQL and R, making it easier to learn and use.
* Flexibility: Python can be used for a wide range of tasks, including data cleansing, analysis and visualization.
* Scalability: Python can be used to train complex machine learning models on large data sets.

**SQL** is a very efficient language for accessing and manipulating data in relational databases. However, SQL is less flexible than Python and is not as suitable for data analysis and data science.

**R** is a very powerful language for statistics and data analysis. However, R can be more difficult to learn than Python and is not as suitable for general programming.

In [ ]:
i=12

tabla = value_count_from_multiple_choice(df_prue, v_v1,i)[-3:]
name='Coding Language'
color = ['rgb(199,233,192)']*(tabla.shape[0]-3) + ['rgb(0,68,27)']*3
fig = go.Figure()
fig.add_trace(go.Bar(x=tabla["% Users"],   y=tabla.index,   marker_color=color,name= '',
                    text =tabla["Yes"].values,texttemplate = "%{x}%<br>%{text}",textposition = "outside", orientation='h'))
fig.update_traces(textposition='inside', textfont_size=500)
fig.update_xaxes(title_text="% ")
fig.update_layout(barmode='overlay',title_text=name,    height=500, width=900,)
fig.add_layout_image(
    dict(
        source="",
        xref="paper", yref="paper",
        x=1, y=0.73,
        sizex=0.1, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)
fig.add_layout_image(
    dict(
        source="",
        xref="paper", yref="paper",
        x=0.85, y=0.4,
        sizex=0.2, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)
fig.add_layout_image(
    dict(
        source="",

        xref="paper", yref="paper",
        x=0.45, y=0.09,
        sizex=0.1, sizey=1,

        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)
fig.update_xaxes(range=[0, 110])
fig.show()

#### **Integrated Development Environments IDE’s**

There are several reasons why a data scientist might use **Jupyter Notebook** more than Visual Studio Code and JupyterLab.

* Interactive user interface: Jupyter Notebook has an interactive user interface that allows data scientists to run code, visualize data, and explore models interactively.
* Integrated documentation: Jupyter Notebook allows data scientists to easily document their work, which is important for reproducibility.
* Easy collaboration: Jupyter Notebook allows data scientists to easily share their work with others, which is important for teamwork and collaboration.

**Visual Studio Code** is a general-purpose code editor that is suitable for a wide range of tasks, including data science. However, Visual Studio Code is not as well suited for data science as Jupyter Notebook because it does not have an interactive user interface or integrated documentation.

**JupyterLab** is an extension to Jupyter Notebook that offers a more advanced user interface. However, JupyterLab is not as suitable for data science as Jupyter Notebook because it is not as easy to use and does not have as many collaboration features.

Overall, Jupyter Notebook is a good choice for data scientists because it is a natural collaboration, exploration, and documentation tool.

In [ ]:
i=13

tabla = value_count_from_multiple_choice(df_prue, v_v1,i)[-3:]
name='Integrated Development Environments IDE’s'
color = ['rgb(199,233,192)']*(tabla.shape[0]-3) + ['rgb(0,68,27)']*3
fig = go.Figure()
fig.add_trace(go.Bar(x=tabla["% Users"],   y=tabla.index,   marker_color=color,name= '',
                    text =tabla["Yes"].values,texttemplate = "%{x}%<br>%{text}",textposition = "outside", orientation='h'))
                    
fig.update_traces(textposition='inside', textfont_size=500)
fig.update_xaxes(title_text="% ")
fig.update_layout(barmode='overlay',title_text=name,xaxis_range=[0, 88],    height=500, width=900,)
fig.add_layout_image(
    dict(
        source="https://avatars.githubusercontent.com/u/22800682?s=280&v=4",
        xref="paper", yref="paper",
        x=1, y=0.73,
        sizex=0.1, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)
fig.add_layout_image(
    dict(
        source="",
        xref="paper", yref="paper",
        x=0.7, y=0.43,
        sizex=0.1, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)
fig.add_layout_image(
    dict(
        source="https://avatars.githubusercontent.com/u/22800682?s=280&v=4",
        xref="paper", yref="paper",
        x=0.6, y=0.09,
        sizex=0.1, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)

fig.show()

#### **Data Visualisation Packages**

This order may be due to the fact that:

* **Matplotlib** is a good choice for data scientists who need complete control over the appearance of their graphs and allows for a wide variety of graphs. 
* **Seaborn** is a good choice for data scientists looking for an easy way to create statistical plots. 
* **Plotly** is a good choice for data scientists who need to create interactive plots and is built on top of Matplotlib.

In [ ]:
i=15

tabla = value_count_from_multiple_choice(df_prue, v_v1,i)[-3:]
name='Data Visualisation Packages'
color = ['rgb(199,233,192)']*(tabla.shape[0]-3) + ['rgb(0,68,27)']*3
fig = go.Figure()
fig.add_trace(go.Bar(x=tabla["% Users"],   y=tabla.index,   marker_color=color,name= '',
                    text =tabla["Yes"].values,texttemplate = "%{x}%<br>%{text}",textposition = "outside", orientation='h'))
fig.update_traces(textposition='inside', textfont_size=500)
fig.update_xaxes(title_text="% ")
fig.update_layout(barmode='overlay',title_text=name,xaxis_range=[0, 95],    height=500, width=900,)

fig.add_layout_image(
    dict(
        source="https://upload.wikimedia.org/wikipedia/commons/8/84/Matplotlib_icon.svg",
        # xref="paper", yref="paper",
        x=0.99, y=0.73,
        sizex=0.1, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)
fig.add_layout_image(
    dict(
        source="https://seaborn.pydata.org/_images/logo-mark-lightbg.svg",
        xref="paper", yref="paper",
        x=0.89, y=0.4,
        sizex=0.1, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)

fig.add_layout_image(
    dict(
        source="https://upload.wikimedia.org/wikipedia/commons/8/8a/Plotly-logo.png",
        xref="paper", yref="paper",
        x=0.9, y=0.03,
        sizex=0.4, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)
fig.show()

#### **Cloud computing  platforms**

Some specific factors that may influence the decision to use a particular cloud platform:

* **AWS:** AWS is the most mature cloud platform and has the broadest range of services available. It is a good choice for companies that need a cloud platform that can handle complex workloads and has a broad feature set.
* **GCP:** GCP is a relatively new cloud platform, but it has grown rapidly in popularity. It is a good choice for companies looking for a cloud platform that is affordable and easy to use. GCP also has a strong focus on innovation and offers a number of cutting-edge services.
* **Azure:** Azure is a cloud platform that offers a wide range of services, including integration with Microsoft enterprise systems. It is a good option for companies already using other Microsoft products or services.

In [ ]:
i=31

tabla = value_count_from_multiple_choice(df_prue, v_v1,i)[-3:]
name='Cloud computing  platforms '
color = ['rgb(199,233,192)']*(tabla.shape[0]-3) + ['rgb(0,68,27)']*3
fig = go.Figure()
fig.add_trace(go.Bar(x=tabla["% Users"],   y=tabla.index,   marker_color=color,name= '',
                    text =tabla["Yes"].values,texttemplate = "%{x}%<br>%{text}",textposition = "outside", orientation='h'))
fig.update_traces(textposition='inside', textfont_size=500)
fig.update_xaxes(title_text="% ")
fig.update_layout(barmode='overlay',title_text=name,xaxis_range=[0, 53],    height=500, width=900,)

fig.add_layout_image(
    dict(
        source="https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg",
        # xref="paper", yref="paper",
        x=0.99, y=0.73,
        sizex=0.1, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)
fig.add_layout_image(
    dict(
        source="https://upload.wikimedia.org/wikipedia/commons/5/51/Google_Cloud_logo.svg",
        xref="paper", yref="paper",
        x=0.95, y=0.45,
        sizex=0.3, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)

fig.add_layout_image(
    dict(
        source="https://upload.wikimedia.org/wikipedia/commons/a/a8/Microsoft_Azure_Logo.svg",
        xref="paper", yref="paper",
        x=0.7, y=0.1,
        sizex=0.2, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)

fig.show()

#### **Databases**

* **MySQL** is free, open source and easy to learn. Scalable, which means it can grow as business needs require.
* **PostgreSQL** is an open source relational database that offers a wide range of functions and features. It is a good choice for companies that need a powerful and flexible database. However, PostgreSQL can be more complex to learn and use than MySQL.
* **Microsoft SQL Server** is a proprietary relational database that offers a wide range of functions and features. It is a good choice for companies that need a Microsoft-compatible database. However, Microsoft SQL Server has a licensing cost, which can be a deterrent for companies on a limited budget.

In [ ]:
i=35

tabla = value_count_from_multiple_choice(df_prue, v_v1,i)[-3:]
name='Databases'
color = ['rgb(199,233,192)']*(tabla.shape[0]-3) + ['rgb(0,68,27)']*3
fig = go.Figure()
fig.add_trace(go.Bar(x=tabla["% Users"],   y=tabla.index,   marker_color=color,name= '',
                    text =tabla["Yes"].values,texttemplate = "%{x}%<br>%{text}",textposition = "outside", orientation='h'))
fig.update_traces(textposition='inside', textfont_size=500,textangle=0)
fig.update_xaxes(title_text="% ")
fig.update_layout(barmode='overlay',title_text=name,xaxis_range=[0, 32],    height=500, width=900,)

fig.add_layout_image(
    dict(
        source="https://upload.wikimedia.org/wikipedia/commons/0/0a/MySQL_textlogo.svg",
        xref="paper", yref="paper",
        x=0.98, y=0.8,
        sizex=0.1, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)
fig.add_layout_image(
    dict(
        source="https://upload.wikimedia.org/wikipedia/commons/2/29/Postgresql_elephant.svg",
        xref="paper", yref="paper",
        x=0.9, y=0.42,
        sizex=0.07, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)

fig.add_layout_image(
    dict(
        source="https://upload.wikimedia.org/wikipedia/commons/9/99/Logo_M_SQL_Server.png",
        xref="paper", yref="paper",
        x=0.8, y=0.1,
        sizex=0.2, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)

fig.show()

#### **Business intelligence tools**

The next bar chart presents a comparison between popular business intelligence tools: 

* **Tableau** is widely recognized for its ease of use and its ability to generate interactive and engaging visualizations. Its wide variety of features and customization options make it a popular tool among data professionals and business analysts looking to present data in an effective and accessible way.
* **None** represents users who choose not to use any specific business intelligence tool. This choice could be due to different reasons, such as the use of custom in-house tools, preference for analyzing data directly with programming languages, or perhaps because some users are not directly involved in data visualization and analysis.
* **Microsoft Power BI** is a robust tool that is well integrated with the Microsoft ecosystem, making it attractive to those who already use Microsoft products in their business operations. Its ease of integration with other Microsoft tools and its focus on business data analysis may explain its popularity.

In [ ]:
i=36

tabla = value_count_from_multiple_choice(df_prue, v_v1,i)[-3:]
name='Business intelligence tools'
color = ['rgb(199,233,192)']*(tabla.shape[0]-3) + ['rgb(0,68,27)']*3
fig = go.Figure()
fig.add_trace(go.Bar(x=tabla["% Users"],   y=tabla.index,   marker_color=color,name= '',
                    text =tabla["Yes"].values,texttemplate = "%{x}%<br>%{text}",textposition = "outside", orientation='h'))
fig.update_traces(textposition='inside', textfont_size=500)
fig.update_xaxes(title_text="% ")
fig.update_layout(barmode='overlay',title_text=name,xaxis_range=[0, 36],    height=500, width=900,)

fig.add_layout_image(
    dict(
        source="https://upload.wikimedia.org/wikipedia/commons/4/4b/Tableau_Logo.png",
        xref="paper", yref="paper",
        x=0.98, y=0.8,
        sizex=0.15, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)

fig.add_layout_image(
    dict(
        source="https://upload.wikimedia.org/wikipedia/commons/c/cf/New_Power_BI_Logo.svg",
        xref="paper", yref="paper",
        x=0.72, y=0.1,
        sizex=0.07, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)

fig.show()

#### **Machine Learning Frameworks**

Scikit-learn, XGBoost and TensorFlow are all popular machine learning algorithms, but they have their own strengths and weaknesses. Choosing the right algorithm depends on the specific needs of your application.

* **Scikit-learn** is an open source machine learning toolkit that is easy to use and has a wide selection of algorithms. It is a good choice for machine learning beginners and for applications that require flexibility and control.
* **XGBoost** is a decision tree-based machine learning algorithm that is very accurate and scalable. It is a good choice for applications that require high accuracy and can handle large amounts of data.
* **TensorFlow** is an open source machine learning framework that is powerful and flexible. It is a good choice for applications that require complex models or need to be trained on big data.

In [ ]:
i=17

tabla = value_count_from_multiple_choice(df_prue, v_v1,i)[-3:]
name='Machine Learning Frameworks'
color = ['rgb(199,233,192)']*(tabla.shape[0]-3) + ['rgb(0,68,27)']*3
fig = go.Figure()
fig.add_trace(go.Bar(x=tabla["% Users"],   y=tabla.index,   marker_color=color,name= '',
                    text =tabla["Yes"].values,texttemplate = "%{x}%<br>%{text}",textposition = "outside", orientation='h'))
fig.update_traces(textposition='inside', textfont_size=500)
fig.update_xaxes(title_text="% ")
fig.update_layout(barmode='overlay',title_text=name,xaxis_range=[0, 93],    height=500, width=900,)
fig.add_layout_image(
    dict(
        source="https://upload.wikimedia.org/wikipedia/commons/0/05/Scikit_learn_logo_small.svg",
        xref="paper", yref="paper",
        x=0.97, y=0.74,
        sizex=0.15, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)
fig.add_layout_image(
    dict(
        source="https://upload.wikimedia.org/wikipedia/commons/6/69/XGBoost_logo.png",
        xref="paper", yref="paper",
        x=0.73, y=0.415,
        sizex=0.15, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)
fig.add_layout_image(
    dict(
        source="https://upload.wikimedia.org/wikipedia/commons/a/ab/TensorFlow_logo.svg",
        xref="paper", yref="paper",
        x=0.58, y=0.09,
        sizex=0.13, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)
fig.update_xaxes(range=[0, 110])
fig.show()

#### **Machine Learning algorithms**

The bar chart shows a comparison of popular machine learning algorithms:

* **Linear Regression** is a simple and easy to implement model, especially suitable for regression problems where continuous numerical values are to be predicted. On the other hand, Logistic Regression is widely used in binary classification problems, where one of two possible classes is to be predicted. Its efficiency, interpretability and ability to deal with linear problems make it an attractive option for many users.
* **Decision Trees** are nonlinear models used for both classification and regression problems. They are known for their ease of interpretation and visualization, as they are represented as trees with decision nodes and leaves representing the predictions. Random Forests are an extension of Decision Trees that combine multiple trees to improve accuracy and reduce overfitting in the model.
* **Gradient Boosting Machines** are a set of algorithms that are widely used in supervised learning problems. These algorithms work in sequential iterations to improve model accuracy by correcting errors made by previous models. xgboost and lightgbm are popular examples of Gradient Boosting libraries that offer exceptional performance and training speed.

In [ ]:
i=18

tabla = value_count_from_multiple_choice(df_prue, v_v1,i)[-3:]
tabla.index=name_column_graph(tabla,'(')
name='Machine Learning algorithms'
color = ['rgb(199,233,192)']*(tabla.shape[0]-3) + ['rgb(0,68,27)']*3
fig = go.Figure()
fig.add_trace(go.Bar(x=tabla["% Users"],   y=tabla.index,   marker_color=color,name= '',
                    text =tabla["Yes"].values,texttemplate = "%{x}%<br>%{text}",textposition = "outside", orientation='h'))
fig.update_traces(textposition='inside', textfont_size=500)
fig.update_xaxes(title_text="% ")
fig.update_layout(barmode='overlay',title_text=name,xaxis_range=[0, 90],    height=500, width=900,)
fig.show()

#### **Favorite media sources on data science topics**

* **Blogs**, such as Towards and Analytics Vidhya, are the most widely used media source for their detailed content, practical tutorials and in-depth approach to various data science topics.
* **Kaggle**, with its notebooks and forums, users turn to this platform for data science information and resources. Kaggle is known for its active community, data science competitions and abundant content shared by professionals and enthusiasts in the field.
* **YouTube**, with channels such as Kaggle YouTube and Cloud AI Adventures, YouTube offers instructional videos, visual tutorials and inspirational talks, making it an attractive and accessible source for many users.

In summary, the bar chart highlights the most popular media sources used by users to obtain data science information. Blogs are the preferred choice, followed closely by Kaggle and YouTube.

In [ ]:
i=44

tabla = value_count_from_multiple_choice(df_prue, v_v1,i)[-3:]
tabla.index=name_column_graph(tabla,'(')
name='Favorite media sources on data science topics'
color = ['rgb(199,233,192)']*(tabla.shape[0]-3) + ['rgb(0,68,27)']*3
fig = go.Figure()
fig.add_trace(go.Bar(x=tabla["% Users"],   y=tabla.index,   marker_color=color,name= '',
                    text =tabla["Yes"].values,texttemplate = "%{x}%<br>%{text}",textposition = "outside", orientation='h'))
fig.update_traces(textposition='inside', textfont_size=500)
fig.update_xaxes(title_text="% ")
fig.update_layout(barmode='overlay',title_text=name,xaxis_range=[0, 68],    height=500, width=900,)

fig.add_layout_image(
    dict(
        source="https://upload.wikimedia.org/wikipedia/commons/7/7c/Kaggle_logo.png",
        xref="paper", yref="paper",
        x=0.95, y=0.415,
        sizex=0.15, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)
fig.add_layout_image(
    dict(
        source="https://upload.wikimedia.org/wikipedia/commons/0/09/YouTube_full-color_icon_%282017%29.svg",
        xref="paper", yref="paper",
        x=0.91, y=0.06,
        sizex=0.13, sizey=1,
        xanchor="right", yanchor="bottom", sizing= "contain",
    )
)

fig.show()

<a id='conclusions'></a>
## **Conclusions**

The demographic, technological, and data science techniques comparison among the top 5 countries most present on Kaggle underscores the significance of fostering data science growth in these nations, particularly within the third-ranked country. Emphasizing the need for promoting gender inclusivity and equitable representation within the field is crucial to achieve greater diversity and enrich the data science community with varied perspectives. The diversity in age ranges also contributes to enriching the community by incorporating professionals from different generations.

Furthermore, the data reveals a high adoption of machine learning techniques in the business realm, signaling their increasing importance across diverse industries. It's important to consider that salary variations among countries may stem from economic factors and specific hiring policies unique to each location.

The presented graphs and analyses empower informed decision-making regarding suitable technologies and tools within the data science domain. Additionally, the availability of resources enhances learning and professional development in this field, providing users with access to valuable information. In conclusion, this study highlights the relevance and potential of data science in these countries, offering insights to continue driving their growth and advancement.


## **Challenges**

Selecting the work objective is undoubtedly one of the most significant challenges when carrying out a data analysis project. A clear and well-defined objective is essential to properly focus the research and ensure that the conclusions are relevant and useful. If the objective is too broad, obtaining concrete and meaningful results can be difficult, potentially complicating data interpretation and informed decision-making.

Likewise, choosing the appropriate questions to showcase the most used tools also presents a significant challenge. It's crucial to pose questions that are relevant to the analysis and provide valuable insights into the landscape of tools in the field of data science. A proper selection of questions will ensure that graphs and analyses accurately and comprehensively reflect preferences and trends in technology usage within the field.

On the other hand, creating effective graphs that clearly display the expected results may require additional time and effort. Technical challenges in data manipulation and visual presentation are common. It's important to consider aspects such as choosing suitable charts, colors, and labels to achieve an accurate and appealing representation of the data.

In summary, encountering challenges during data analysis is a natural part of the process. Through experience and practice, it's possible to enhance the selection of objectives, questions, and graphical techniques, resulting in more accurate and meaningful outcomes in future data analysis projects.